---
# =============================================================================
# Erlang Installation Tasks
# =============================================================================

- name: Install required dependencies
  ansible.builtin.dnf:
    name:
      - epel-release
      - socat
      - logrotate
      - wget
      - curl
    state: present

- name: Import Erlang Solutions GPG key
  ansible.builtin.rpm_key:
    key: https://github.com/rabbitmq/signing-keys/releases/download/3.0/cloudsmith.rabbitmq-erlang.E495BB49CC4BBE5B.key
    state: present

- name: Add RabbitMQ Erlang repository
  ansible.builtin.yum_repository:
    name: rabbitmq_erlang
    description: RabbitMQ Erlang Repository for RHEL 8
    baseurl: https://yum1.rabbitmq.com/erlang/el/8/$basearch
    gpgcheck: yes
    gpgkey: https://github.com/rabbitmq/signing-keys/releases/download/3.0/cloudsmith.rabbitmq-erlang.E495BB49CC4BBE5B.key
    enabled: yes
    repo_gpgcheck: no
    sslverify: yes
    sslcacert: /etc/pki/tls/certs/ca-bundle.crt

- name: Clean DNF cache
  ansible.builtin.command: dnf clean all
  changed_when: false

- name: Install Erlang packages
  ansible.builtin.dnf:
    name:
      - "erlang-{{ erlang_version }}*"
    state: present
    enablerepo: rabbitmq_erlang
  register: erlang_install
  retries: 3
  delay: 10
  until: erlang_install is succeeded

- name: Verify Erlang installation
  ansible.builtin.command: erl -eval 'erlang:display(erlang:system_info(otp_release)), halt().' -noshell
  register: erlang_version_check
  changed_when: false

- name: Display installed Erlang version
  ansible.builtin.debug:
    msg: "Erlang/OTP {{ erlang_version_check.stdout | trim }} installed successfully"
